<div class="container bg-dark" style="overflow-x:hidden;">
  <div class="row topheader">
    <div class="col-sm-4 fs-1 text-bg-danger text-center fw-bolder titledata ">VeerNews</div>
    <div class="col-sm-8 text-center py-4 bg-warning"><b>NEW !</b> YOU CAN NOW GET <br> COMPLETE UPDATE OF NEWS THROUGH
      <B>VEERNEWS</B>
    </div>
  </div>
  <div class="row cltegory">
    <div class="col-sm-2 text-bg-dark text-center catergorydata">Technology</div>
    <div class="col-sm-2 text-bg-dark text-center catergorydata ">Game</div>
    <div class="col-sm-2 text-bg-dark text-center catergorydata">Education</div>
    <div class="col-sm-2 text-bg-dark text-center catergorydata">Politics</div>
    <div class="col-sm-2 text-bg-dark text-center catergorydata">Nature</div>
    <div class="col-sm-2 text-bg-dark text-center catergorydata" style="border-right:none;">Food</div>
  </div>
  <div class="row sliderimgdata mt-2 ">
    <div class="col-sm-6 p-0">
      <img src="../assets/Images/1 (5).jpg" class="img-fluid  px-0"
        style="background-size:00% 100% ;height:500px;width: 100%;">
    </div>
    <div class="col-sm-6 pe-0">
      <div class="row" style="min-height:250px;">
        <div class="col-sm-12">
          <img src="../assets/Images/h2.jpg" class="img-fluid  px-0"
            style="background-size:100% 100% ;height:250px;width: 100%;">
        </div>
      </div>
      <div class="row mt-2" style="min-height:240px;">
        <div class="col-sm-6">
          <img src="../assets/Images/1 (8).jpg" class="img-fluid  px-0"
            style="background-size:100% 100% ;height:240px;width: 100%;">
        </div>
        <div class="col-sm-6 ps-0">
          <img src="../assets/Images/1 (9).jpg" class="img-fluid"
            style="background-size:100% 100% ;height:240px;width: 100%;">
        </div>
      </div>
    </div>
  </div>
  <hr style="background:white;" class="my-4">
  <div class="text-center fs-1 fw-bold py-5 bg-light rounded-top border border-bottom border-dark">Latest <b class="text-danger">News</b></div>    
  <!-- ========== Start  ========== -->
  <div class="row bg-light" >
    <div class="col-sm-4 apidatacontent p-0 bg-light" *ngFor="let item of newsapidata">
      <img src="{{item.urlToImage}}" style="height:200px;width: 100%;" class="img-fluid ">
      <div class=" py-2  fw-normal text-dark fw-semibold px-3 fs-6 "
        style="white-space:nowrap;overflow:hidden;text-overflow:ellipsis;max-width:50ch;background-color: #E1E1E2;">{{item.title}}</div>
      <div class="fw-bold px-3 pb-4" style="background-color:#E1E1E2;">{{item.author}} <span class="fw-normal">{{item.publishedAt}}</span></div>
      <a href="{{item.url}}" target="_blank"><button class="btn btn-warning w-100 rounded-0 my-1">Know More</button></a>
    </div>
  </div>
<div class="row bg-secondary p-5">
  <div class="col-sm-6 fs-1 text-bg-danger text-center fw-bolder titledata mb-3 rounded-2">VeerNews</div>
  <div class="col-sm-6 px-5">

    <input type="email" placeholder="Enter your email" class="form-control px-4 mb-3">
    <button class="btn btn-warning form-control">Subscribe Now</button>

  </div>
</div>
<div class="text-center bg-dark text-light py-3">
  Copyright ©2022 All rights reserved | This template is made with by Vivek
</div>
</div>
